@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
    }

    .dark {
        --background: 240 4% 10%;
        --foreground: 210 40% 98%;
    }

    * {
        @apply font-default;
    }
}
