name: Next.js Build and Deploy

on:
  push:
    branches: [ v2 ]
  pull_request:
    branches: [ v2 ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        cache: 'npm'

    - name: Remove node_modules and package-lock.json
      run: |
        rm -rf node_modules
        rm -f package-lock.json

    - name: Install dependencies
      run: npm install && npm ci

    - name: Build Next.js app
      run: npm run build

    - name: Export static files
      run: npm run export

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: .next # The folder the action should deploy
        branch: gh-pages # The branch the action should deploy to